* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  letter-spacing: 2px;
}

button {
  background-color: transparent;
  border: transparent;
  outline: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.container > h1 {
  font-size: 8rem;
  letter-spacing: 0.2rem;
  text-align: center;
  padding-top: 20rem;
  color: black;
}

.content {
  width: 70%;
  margin: 0 auto;
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;
  gap: 2rem;
}

.box {
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box > a {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: black;
}

.svg_14 {
  position: absolute;
  bottom: -1%;
  right: 6%;
  /* display: block; */
  width: 100px;
  padding: 40px;
}

/* #Group_200 {
  fill: transparent;
  animation: fillLogo 1s linear 2s 1 forwards;
}

#Group_200 path {
  stroke-width: 2;
  stroke: black;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: logo 2s linear 0s 1 forwards;
}

@keyframes logo {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillLogo {
  to {
    fill: black;
  }
} */

.footer {
  background-color: #f1f2f5;
}

.footer_container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 32px 0;
}

.footer_company h3,
.footer_services h3 {
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.footer_company ul,
.footer_services ul {
  line-height: 40px;
}

.footer_company ul li,
.footer_services ul li {
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
}

.footer_others {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.footer_get_in_touch {
  display: flex;
  align-items: center;
}

.footer_get_in_touch > h3 {
  margin-right: 32px;
  font-size: 25px;
}

.footer_social_links > h3 {
  font-size: 20px;
}

.footer_links ul {
  display: flex;
}
.footer_links ul li {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  margin-right: 32px;
}

.footer_links ul li:last-child {
  margin-right: 0;
}

.footer_social_icons {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.footer_social_icons button svg {
  font-size: 25px;
}

.footer_social_icons button:nth-of-type(1) svg {
  fill: #4267b2;
}

.footer_social_icons button:nth-of-type(2) svg {
  fill: white;
  font-size: 20px;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  padding: 0.1rem;
  border-radius: 5px;
}

.footer_social_icons button:nth-of-type(3) svg {
  fill: #0077b5;
}

.footer_social_icons button:nth-of-type(4) svg {
  color: #00acee;
}

/* ---------------- Page Links ------------------ */

.page_links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.page_links {
  height: 80%;
}

.page_links div {
  width: 100%;
  background-color: white;
  border-radius: 25px;
  padding: 15px 30px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.page_links div p,
.page_links div a {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: black;
}

/* ---------------------------  Loading ---------------------------------- */

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 45678987;
  background-color: white;
  display: grid;
  place-content: center;
}

.loading_container {
  width: 500px;
  height: 500px;
}

.loading_container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: box 6s linear 0s infinite;
  transition: all 3s;
  /* transform:rotate3d(0,1,0,92deg); */
}

@keyframes box {
  0% {
    transform: rotateY(0deg) scale(1);
  }
  9.33% {
    transform: rotateY(45deg) scale(1.2);
  }
  18.66% {
    transform: rotateY(85deg) scale(1);
  }
  27.99% {
    transform: rotateY(90deg) scale(1);
  }
  36.33% {
    transform: rotateY(135deg) scale(1.2);
  }
  45.66% {
    transform: rotateY(180deg) scale(1);
  }
  54% {
    transform: rotateY(180deg) scale(1);
  }
  63.33% {
    transform: rotateY(225deg) scale(1.2);
  }
  72.66% {
    transform: rotateY(265deg) scale(1);
  }
  81% {
    transform: rotateY(270deg) scale(1);
  }
  90.33% {
    transform: rotateY(315deg) scale(1.2);
  }
  100% {
    transform: rotateY(360deg) scale(1);
  }
}
