/* .container {
  height: 100vh;
  position: relative;
} */

/* ----------------------- start of Navbar ---------------------------- */

.nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.navbar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 16px;
}

.links,
.right_links {
  display: flex;
  align-items: center;
}

.right_nav_links {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 23;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_links {
  height: 80%;
  margin: auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.nav_links button {
  transform: rotate(90deg);
  transition: all 0.2s;
}

.nav_links button {
  color: grey;
  font-size: 17px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}

.nav_links .link_active {
  transform: rotate(90deg) scale(1.1);
  transition: all 0.2s;
}

.nav_links .link_active {
  transition: all 0.2s;
  color: black;
}

.quotes_btn {
  font-size: 20px;
  text-transform: uppercase;
  background-color: white;
  font-weight: 300;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quotes_btn svg {
  font-size: 30px;
}

.links li a {
  text-transform: capitalize;
  margin-left: 10px;
  /* color: rgb(91, 133, 211); */
  color: black;
  font-size: 24px;
  font-weight: 700;
}

.links li a svg {
  font-size: 22px;
}

/* ----------------------- end of Navbar ---------------------------- */

/* ----------------------- start of Main ---------------------------- */

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.svg {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  position: relative;
}

.svg > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.svg_image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1%;
  left: 20%;
}

.lines {
  width: 63%;
  height: 85%;
}

.svg_2,
.svg_3,
.svg_4,
.svg_5,
.svg_6,
.svg_7,
.svg_8,
.svg_9,
.svg_10,
.svg_11,
.svg_13 {
  position: absolute;
}

.svg_2 {
  top: 23%;
  left: 20%;
}

.svg_3 {
  top: 10%;
  left: 27.5%;
}

.svg_4 {
  top: 8%;
  left: 36%;
}

.svg_5 {
  top: 30%;
  left: 30%;
}

.svg_6 {
  top: 18%;
  left: 48%;
}

.svg_7 {
  top: 43%;
  left: 36%;
}

.svg_8 {
  top: 30%;
  left: 60%;
}

.svg_9 {
  top: 53%;
  left: 48%;
}

.svg_10 {
  top: 58%;
  left: 66%;
}

.svg_13 {
  top: 30%;
  left: 31%;
}

.home_links h3 {
  font-size: 20px;
  position: absolute;
  text-transform: uppercase;
}

.home_links h3:nth-of-type(1) {
  top: 11%;
  left: 18%;
}

.home_links h3:nth-of-type(2) {
  top: 17%;
  left: 58%;
}

.home_links h3:nth-of-type(3) {
  top: 66%;
  left: 23%;
}

.home_links h3:nth-of-type(4) {
  top: 82%;
  left: 70%;
  width: 100px;
  padding: 40px;
}

.home_links h3:nth-of-type(5) {
  top: 5%;
  left: 64%;
}

.content {
  position: absolute;
  bottom: 3%;
  left: 5%;
  padding: 20px;
}

.content h1 {
  font-size: 30px;
}

.content h2 {
  width: 700px;
  font-size: 20px;
  font-weight: normal;
}

.logo_image {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 100%;
  height: 100%;
  z-index: 9882;
}

.animate_logo {
  width: 60%;
  height: 80%;
}

/* ---------------------- End of Home -------------------- */

/* ------------------ Start of Work ---------------------- */
