.solutions {
  width: 100%;
  min-height: 100vh;
}

.solutions_container {
  position: relative;
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.solutions_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/svg/svg12.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  z-index: -1;
}

.solutions_left {
  flex-basis: 60%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.solutions_left_content {
  height: 425px;
  display: flex;
  padding: 0 45px;
  justify-content: center;
  flex-direction: column;
  background-image: url('/images/robot.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  color: white;
  position: relative;
}

.solutions_left_content::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.solutions_left_content h2 {
  font-size: 23px;
  z-index: 2;
}

.solutions_left_content h2:nth-of-type(1) {
  margin: 30px 0;
}

.solutions_left_content h2:nth-of-type(2) {
  margin-bottom: 30px;
}

.solutions_btn {
  width: 100%;
  z-index: 2;
  text-align: right;
}

.solutions_btn > button {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 16px 70px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 60px;
}

.solutions_left_title {
  height: 75px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: grid;
  place-content: center;
}

.solutions_left_title h1 {
  font-size: 45px;
  text-transform: uppercase;
}

/* ---------- AUTOMATION ----------------- */
.automation {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  transition: all 0.5s linear;
  transform: translateX(100%);
}

.automation_show {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  transition: all 0.5s linear;
  transform: translateX(0%);
}

.automation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/svg/svg12.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  z-index: -1;
}

.automation_container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  place-content: center;
}

.automation_container > h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 50px;
}

.automation_article {
  height: 600px;
  display: flex;
  padding: 0 45px;
  justify-content: center;
  flex-direction: column;
  background-image: url('/images/robot.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  color: white;
  position: relative;
}

.automation_article::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.automation_article_text {
  font-size: 22px;
  z-index: 2;
  color: white;
}

.automation_article_text p:nth-of-type(3) {
  margin-bottom: 40px;
}

.automation_btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
}

.automation_btns button {
  padding: 5px 40px;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 30px;
  border-radius: 25px;
  text-transform: capitalize;
  font-weight: 700;
}

/* -------------------- Solution 1 ------------------ */

.solutions1_container {
  position: relative;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 5rem;
}

.solutions1_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/svg/svg12.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  z-index: -1;
}

.solutions1_container > h1 {
  position: absolute;
  bottom: -7%;
  left: 0;
  width: 100%;
  font-size: 250px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.solutions1_left {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 800px;
  height: 600px;
  border-radius: 25px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solutions1_left_text {
  max-width: 600px;
  margin: 10px auto;
}

.solutions1_header {
  display: flex;
  gap: 5px;
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.solutions1_header h3 {
  text-transform: uppercase;
}

.solutions1_header button svg {
  font-size: 30px;
}

.solutions1_content {
  width: 100%;
  display: none;
}

.solutions1_content_show {
  width: 100%;
  display: block;
}

.solutions1_content > img {
  width: 100%;
  height: 300px;
  border-radius: 30px;
  object-fit: cover;
}

.solutions1_content > h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

.page_links {
  flex-basis: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}

.page_links {
  height: 80%;
}

.page_links div {
  width: 100%;
  border-radius: 25px;
  padding: 15px 30px;
  display: flex;
  cursor: pointer;
}

.page_links div button svg {
  font-size: 40px;
  font-weight: 700;
}

.page_links div p {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: black;
  font-weight: 700;
}

.solutions1_btn {
  position: absolute;
  bottom: -3%;
  left: 5%;
  /* padding: 30px; */
}

.solutions1_btn button {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 23;
  padding: 10px 15px;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
