.work {
  width: 100%;
  min-height: 100vh;
}

.work_container {
  position: relative;
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: relative;
}

.work_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/svg/svg12.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  z-index: -1;
}

.work_left {
  flex-basis: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.work_top_content {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 300px;
  background-color: white;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.play_circle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play_circle > svg {
  font-size: 70px;
}

.play_btn {
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

.line {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: gray;
  margin-bottom: 8px;
}

.line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: black;
  z-index: 3;
}

.work_text h2,
.brands h2,
.testmonials h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: 3px;
}

.testmonials h2 {
  margin-bottom: 0;
}

.work_text h4 {
  font-size: 20px;
  font-weight: 400;
}

.brands {
  background-color: #f1f2f5;
  padding: 32px 0;
}

.brands h2,
.testmonials h2 {
  text-align: center;
  padding: 16px 0;
}

.testmonials {
  position: relative;
}

.testmonials_container,
.brand_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
  width: 90%;
  margin: 0 auto;
  -ms-overflow-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.testmonials > p {
  text-align: center;
  margin-bottom: 16px;
  font-size: 20px;
}

.testmonials_container {
  gap: 5rem;
  padding: 100px 0 48px;
}

.brand_container::-webkit-scrollbar,
.testmonials_container::-webkit-scrollbar {
  display: none;
}

.brand_container .brand_1,
.brand_container .brand_2,
.brand_container .brand_3,
.brand_container .brand_4,
.brand_container .brand_5 {
  min-width: 275px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testmonials_content_1,
.testmonials_content_2,
.testmonials_content_3 {
  position: relative;
  min-width: 300px;
  height: 300px;
  border: 2px solid black;
}

.testmonials_content_1 > h3,
.testmonials_content_2 > h3,
.testmonials_content_3 > h3 {
  margin: 16px;
  margin-top: 80px;
  font-size: 30px;
  text-transform: capitalize;
}

.testmonials_content_1 > p,
.testmonials_content_2 > p,
.testmonials_content_3 > p {
  margin: 16px;
  font-size: 20px;
  letter-spacing: 0;
}

.testmonials_content_1 > div,
.testmonials_content_2 > div,
.testmonials_content_3 > div {
  position: absolute;
  top: -20%;
  left: 3%;
  width: 100px;
  height: 100px;
  background-color: wheat;
  z-index: -1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testmonials_content_1 > div > img,
.testmonials_content_2 > div > img,
.testmonials_content_3 > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left_btn,
.right_btn {
  position: absolute;
  top: 45%;
  background-color: rgb(105, 120, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.left_btn {
  left: 2%;
}

.right_btn {
  right: 2%;
}

.brands > .left_btn,
.brands > .right_btn {
  top: 48%;
}

.left_btn > svg,
.right_btn > svg {
  font-size: 30px;
  color: white;
}

/* ---------------------------  education  --------------------------- */

.edu {
  padding: 32px 0;
}

.edu div {
  width: 80%;
  margin: 20px auto;
}

.edu div h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.edu div p {
  font-size: 20px;
}

.education_images {
  width: 100%;
}

.education_images_container {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.education_images_top {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.education_icons {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.education_icons svg {
  font-size: 30px;
}

.education_icons h3 {
  font-size: 15px;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

.education_images_bottom {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.education_bottom_image {
  width: 500px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.1);
  display: grid;
  place-content: center;
}

.education_bottom_image svg {
  font-size: 200px;
  fill: gray;
}

.education_bottom_content {
  position: absolute;
  top: 5%;
  left: 55%;
  width: 350px;
  height: 350px;
  background-color: rgb(193, 211, 219);
  padding: 40px 20px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.education_bottom_content h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.education_bottom_text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.education_bottom_text svg {
  font-size: 25px;
  margin-right: 10px;
}

.education_bottom_text h3 {
  font-size: 15px;
}

.education_bottom_content .btn {
  text-align: center;
}

.education_bottom_content button {
  background-color: rgb(80, 80, 80);
  padding: 10px 50px;
  color: white;
  border-radius: 25px;
  text-transform: uppercase;
}
